{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}

	<div class="m-2">
		<h1>Création compte bancaire</h1>
	</div>

	<div class="m-2">
		<div class"row">
			<div class="col-2">
				{{form_start(form)}}
				{{form_widget(form)}}
				<input type="submit" class="btn btn-primary" value="Enregistrer">
				{{form_end(form)}}
				<div class="m-2">
					<a class="btn btn-success" href="{{path('user_user')}}">Retour page utilisateur</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
